
body{
background-image: url("../Books Wallpaper.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* opacity: 0.5; */
}


row {
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  font-family: 'Grand Hotel', cursive;
  color:black;
  font-size: 64px;
  border-color: none;
  text-align: center;
  font-size: 125px;
  }

  h2 {
    font-family: 'Grand Hotel', cursive;
  }

    

.container {
  margin: 10px;
  font-family: Verela Round;
  color:black;
  background-color: none;
  
}

.col-sm-6 {
  margin-right: auto ;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: rgb(245, 245, 220, 0.5);
  box-shadow: 5px 5px 5px rgb(41, 41, 39);
  border-radius: 10px;
}

#titles {
  font-family: 'Grand Hotel', cursive;
  text-align: center;
}

.col-sm-8 {
  background-color:none;
  text-align: center;

}
/* .p {
font-size: 50px;


}
.card {
  position: bottom;
  align-content: center;
  background-color: rgba(245, 245, 245, 0.4); }
.card-header, .card-footer { opacity: 1}
  .card-text: color: black;
}

.card-text{
  color: black;
}
 */

 img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

 .col-sm-4 {
   background-color: beige;
   margin: 5px;
   padding: 5px;
   border-radius: 10px;
   align-items: center;
   box-shadow: 5px 5px 5px rgb(41, 41, 39);
 }

 #book-area {
   overflow: auto;
   height: 600px;
   margin: 10px;
   padding: 10px;
   background-color: rgb(245, 245, 220, 0.5);
 }

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/* FADE IN IMAGE */


#searchItem {
  margin: 5%;
  padding: 1%;
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
