
body{
background-image: url("../Books Wallpaper.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.5;
}


row {
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  font-family: Varela Round, cursive;
  color:black;
  font-size: 100px;
  border-color: none;
  text-align: center;
  font-size: 125px;
  }

    

.container {
  align-content: center;
  margin: 10px;
  font-family: Verela Round;
  color:black;
  background-color: none;
  
}


.col-sm-8 {
  background-color:none;


}
/* .p {
font-size: 50px;


}
.card {
  position: bottom;
  align-content: center;
  background-color: rgba(245, 245, 245, 0.4); }
.card-header, .card-footer { opacity: 1}
  .card-text: color: black;
}

.card-text{
  color: black;
}
 */
